.container {
  display:flex;
  text-align: center;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.first {
  position: absolute;
  top: 10px;
  left: 50px;
  color: white;
}

.middle {
  position: absolute;
  bottom: 10px;
  left: 50px;
  color: white;
}

.last {
  position: absolute;
  bottom: 10px;
  right: 50px;
  color: white;
}

.date{
  /* opacity: 1.5; */
  color: lightblue;
  text-align: right;
}

.info{
  opacity: .7;
  text-align: justify;
}

.scroll{
  text-align: center;
  width: 12.5%;
  font-size: 4px;
  position: absolute;
  left: 6.25%;
  top: 23%;
  transform: translate(0%, 0%);
}

.scroll-box{
  border: 1.34px solid rgba(255,255,255,.3);
  position: absolute;
  width: 18.5%;
  left: 3.25%;
  height: 25.5%;
  top: 19%;
  transform: translate(0%, 0%);
}

.img-scroll-box{
  border: 1.34px solid rgba(255,255,255,.3);
  position: absolute;
  transform: translate(0%, 0%);
  width: 18.5%;
  height:5%;
  left: 3%;
  bottom: 8%;
}

.imgs-track{
  margin: 0 auto;
  display: flex;
  gap: .5vmin;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.image{
  width: 48vmin;
  height: 64vmin;
  object-fit: cover;
  object-position: 100% 50%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.img{
  width:6vmin;
  height:8vmin;
  object-fit: cover;
  object-position: 100% 50%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}